/* Provide sufficient contrast against white background */
body{
	width: 100vw;
	box-sizing: content-box;
	max-width: unset !important;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.converter-page {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	font-family: "Montserrat", sans-serif, serif;
}
.exchange-button{
	background-color: orange !important;
	display: block !important;
	margin: 0 auto !important;
}

.converter-page div {
	display: inline-block;
}
